#turn on rewrite engine
RewriteEngine on

#IF REQUESTED FILE IS NOT A REAL FILE
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Redirect all rquest to index.php
RewriteRule ^(.+)$ index.php [QSA,L]